.header{
    position: sticky;
    width: 100vw;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.initials{
    width: 15%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.initials-h1{
    background-color: rgb(131,58,180);
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 33%, rgba(252,176,69,1) 71%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
    align-items: center;
    align-content: flex-end;
    gap: 20px;
}

.button{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
    height: 50px;
    font-family: 'Lobster', cursive;
}
.button:hover {
    background-color: rgb(131,58,180);
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 33%, rgba(252,176,69,1) 71%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-container{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.info-sect{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-h1{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 80px;
    align-items: center;
    align-content: center;
}
.info-h1-p{
    font-family: 'Lobster', cursive;
    color: #f75604;
    font-size: 50px;
}

.info-h2{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 80px;
    align-items: center;
    align-content: center;
}
.info-h2-p{
    font-family: 'Lobster', cursive;
    color: #f75604;
    font-size: 55px;
}

.pic-sect{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe{
    width: 100%;
    height: 70%;
    border: none;
    background-color: transparent;
}

.info-pic{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.about-container{
    position: relative;
    width: 800px;
    height: 600px;
    background: none;
    border: none;
    margin-top: 20vh;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #a6a6a6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.about-header, .resume-header{
    font-size: 80px;
    color: #f75604;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.about-p{
    font-size: 35px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.resume-background{
    position: relative;
    margin-top: 20vh;
    width: 100vw;
    height: 1100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.resume-container {
    width: 800px;
    height: 900px;
    background-color: white;
    border-radius: 20px;
}

.resume{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.resume-home-btn, .skills-home-btn, .about-home-btn{
    position: relative;
    width: 70px;
    height: 45px;
    background: none;
    border: none;
    color: #f75604;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
    text-decoration: underline;
    transition: ease .3s;
}
.resume-home-btn:hover, .skills-home-btn:hover, .about-home-btn:hover{
    font-size: 45px;
}

.skills-container{
    width: 950px;
    height: 950px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 40px
}

.skills-h1{
    font-size: 80px;
    color: #f75604;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 45px;
}

.skill {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
}

.skill-png{
    width: 100%;
    height: 70%;
}

.skill-name {
    font-size: 40px;
    color: #833AB4FF;
    font-family: 'Architects Daughter', cursive;
}
